# Composer non trivial files
/vendor
#/composer.lock

# Exclude IDE files
## Visual Studio
/*.phpproj*
/*.sln*
/*.suo*

## Eclipse
/.project
/.buildpath

## Sublime
/*.sublime-workspace
/*.sublime-project

# Vagrant directory
/.vagrant

# Others
/dist
/wp
